@import '../../assets/scss/variables.scss';

.products {
  margin-top: 24px;

  &__container {
    padding-inline: 16px;

    @include on-tablet {
      padding-inline: 24px;
    }

    @include on-desktop {
      padding-inline: 32px;
    }
  }

  &__title {
    @include font-h1-mobile;
    margin: 0;
    margin-top: 24px;
    vertical-align: middle;

    @include on-tablet {
      @include font-h1-desktop;
    }

    @include on-desktop {
      margin-top: 40px;
    }
  }

  &__quantity {
    margin: 0;
  }

  &__Text {
    @include font-body-text-desktop;
    color: var(--color-secondary);
  }

  &__list {
    list-style: none;
    margin-top: 24px;
    padding: 0;

    @include pageGrid;
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    gap: 16px;

    .sortBy {
      display: flex;
      flex-direction: column;

      &__legend {
        @include font-small-text-desktop;
        color: var(--color-secondary);
      }

      &__select {
        display: flex;
        align-items: center;
        height: 40px;
        background-color: var(--color-surface-2);
        color: #f1f2f9;
        justify-content: space-between;
        padding-inline: 12px;
        border: 0;
        width: 142px;
        border: 1px solid var(--color-surface-2);

        @include on-tablet {
          width: 187px;
        }

        &:hover {
          cursor: pointer;
          border: 1px solid #4a4d58;
        }

        &:focus {
          border: 1px solid #905bff;
        }

        &-label {
          @include font-buttons-desktop;
        }

        &-icon {
          width: 16px;
          height: 16px;
          background: url('/public/img/icons/arrow-down.svg') no-repeat;
        }

        .icon-active {
          background: url('/public/img/icons/arrow-up.svg') no-repeat;
        }
      }

      &__list {
        list-style: none;
        padding: 0;
        padding-bottom: 4px;
        padding-top: 4px;
        margin: 0;
        display: flex;
        flex-direction: column;
        border: 1px solid #3b3e4a;
        background-color: #0f1121;
        position: absolute;
        width: 140px;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition:
          opacity 0.3s ease,
          visibility 0s ease 0.3s;

        @include on-tablet {
          width: 185px;
        }
      }

      .block {
        visibility: visible;
        opacity: 1;
        transition:
          opacity 0.3s ease,
          visibility 0s ease 0s;
      }

      &__item {
        height: 32px;
        padding-left: 12px;
        display: flex;
        align-items: center;

        &:hover {
          background-color: var(--color-surface-2);
          color: #f1f2f9;
        }

        @include font-buttons-desktop;
        color: var(--color-secondary);
      }

      .active {
        background-color: var(--color-surface-2);
        color: #f1f2f9;
      }
    }

    .pageBy {
      display: flex;
      flex-direction: column;

      &__legend {
        @include font-small-text-desktop;
        color: var(--color-secondary);
      }

      &__select {
        display: flex;
        align-items: center;
        height: 40px;
        background-color: var(--color-surface-2);
        color: #f1f2f9;
        justify-content: space-between;
        padding-inline: 12px;
        border: 0;
        width: 130px;
        border: 1px solid var(--color-surface-2);

        @include on-tablet {
          width: 136px;
        }

        &:hover {
          cursor: pointer;
          border: 1px solid #4a4d58;
        }

        &:focus {
          border: 1px solid #905bff;
        }

        &-label {
          @include font-buttons-desktop;
        }

        &-icon {
          width: 16px;
          height: 16px;
          background: url('/public/img/icons/arrow-down.svg') no-repeat;
        }

        .icon-active {
          background: url('/public/img/icons/arrow-up.svg') no-repeat;
        }
      }

      &__list {
        list-style: none;
        padding: 0;
        padding-bottom: 4px;
        padding-top: 4px;
        margin: 0;
        display: flex;
        flex-direction: column;
        border: 1px solid #3b3e4a;
        background-color: #0f1121;
        position: absolute;
        width: 134px;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition:
          opacity 0.3s ease,
          visibility 0s ease 0.3s;

        @include on-tablet {
          width: 135px;
        }
      }

      .block-page {
        visibility: visible;
        opacity: 1;
        transition:
          opacity 0.3s ease,
          visibility 0s ease 0s;
      }

      &__item {
        height: 32px;
        padding-left: 12px;
        display: flex;
        align-items: center;

        &:hover {
          background-color: var(--color-surface-2);
          color: #f1f2f9;
        }

        @include font-buttons-desktop;
        color: var(--color-secondary);
      }

      .active {
        background-color: var(--color-surface-2);
        color: #f1f2f9;
      }
    }
  }
}

[data-theme="light"] {
  .products {
    &__filter {
      .sortBy{
        &__select {
          background-color: var(--color-surface-1);
        }

        &__list {
          background-color: var(--color-surface-1);
        }

        .active {
          background-color: inherit;
          color: #89939A;
        }

        &__item {
          &:hover {
            background-color: #FAFBFC;
            color: #313237;
          }
        }
      }

      .pageBy{
        &__select {
          background-color: var(--color-surface-1);
        }

        &__list {
          background-color: var(--color-surface-1);
        }

        .active {
          background-color: inherit;
          color: #89939A;
        }

        &__item {
          &:hover {
            background-color: #FAFBFC;
            color: #313237;
          }
        }
      }
    }
  }
}


.filter {
  &__dropdowns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
  }
}

.search {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @include font-small-text-desktop;
  color: var(--color-secondary);

  &__text {
    margin-block: 12px;
  }

  &__input {
    width: 200px;
    height: 40px;
    padding-inline: 10px;
    border: none;
    background-color: var(--color-surface-2);
    background-clip: padding-box;
    background-image: url('/img/icons/search.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;

    @include font-small-text-desktop;

    &::placeholder {
      font-style: italic;
    }

    &:focus {
      outline: 0;
    }
  }
}

.text-error {
  margin-block: 100px;
  text-align: center;
  @include font-h3-desktop;
}
