@import '../../assets/scss/variables';

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    background-color: var(--color-surface-2);
    transition-duration: 300ms;
    border: none;

    &:hover {
      background-color: var(--color-icons);
      transition-duration: 300ms;
      cursor: pointer;
    }

    &--disabled {
      background-color: transparent;
      border: 1px solid var(--color-elements);

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }

  .numbers {
    @include font-body-text-desktop;
    padding: 0;
    margin-inline: 16px;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 8px;
    color: var(--color-white);

    &__page {
      width: 32px;
      height: 32px;
      background-color: var(--color-surface-1);

      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 300ms;

      &--active {
        background-color: var(--color-accent-hover);
      }

      &:hover {
        background-color: var(--color-elements);
        transition-duration: 300ms;
      }
    }

    &__dots {
      font-size: 16px;
      letter-spacing: 2px;
      display: flex;
      justify-content: center;
      align-items: end;
    }
  }
}

[data-theme='light'] {
  .pagination {
    &__button {
      background-color: var(--color-surface-1);
      border: 1px solid #b4bdc3;
    }

    .numbers {
      &__page--active {
        color: #ffffff;
      }
    }
  }
}
