@import '../../assets/scss/variables.scss';

.card {
  box-sizing: border-box;
  
  background-color: $color-surface-1;
  padding: 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 8px;

  &__top-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__box-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }

  &__img {
    width: 100%;
    object-fit: contain;

    @include on-tablet {
      width: 173px;
      height: 181px;
    }

    @include on-desktop {
      width: 208px;
      height: 196px;
    }
  }

  &__infos-box {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    @include font-body-text-desktop;
    margin: 0;
  }

  &__price {
    @include font-h3-mobile;
    margin: 0;

    &--offer {
      text-decoration: line-through;
      color: $color-secondary;
    }
  }

  &__line {
    border: 1px solid #3b3e4a;
    margin-bottom: 8px;
  }

  &__description {
    height: 86px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .description__text {
      margin: 0;
      display: flex;
      justify-content: space-between;
      
      @include font-small-text-desktop;
      color: $color-secondary;

      &--modify {
        color: white;
      }
    }
  }
}
