@import '../../assets/scss/variables.scss';

.products-carousel {
  display: flex;
  flex-direction: column;

  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(auto-fill, auto-fill);
    grid-auto-flow: column;
    gap: 16px;
    overflow: hidden;
  }

  &__product {
    width: 212px;
    height: 439px;

    @include on-tablet {
      width: 237px;
      height: 512px;
    }

    @include on-desktop {
      width: 272px;
      height: 506px;
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;

  &__title {
    @include font-h2-mobile;

    margin: 0;
    width: 140px;
    word-wrap: normal;

    @include on-tablet {
      @include font-h2-desktop;
      width: 300px;
      word-wrap: none;
    }
  }
}

.directions {
  display: flex;
  flex-direction: row;
  gap: 16px;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    background-color: var(--color-surface-2);
    transition-duration: 300ms;
    border: 0;

    &:hover {
      transition-duration: 300ms;
      background-color: var(--color-icons);
      cursor: pointer;
    }

    &--disabled {
      background-color: transparent;
      border: 1px solid var(--color-elements);

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}

[data-theme="light"] {
  .directions {
    &__button {
      background-color: var(--color-surface-1);
      border: 1px solid#B4BDC3;

      &--disabled {
        border: 1px solid#E2E6E9;
      }
    }
  }
}
