@import '../../assets/scss/variables.scss';

.skeleton {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;

  &__title,
  &__image {
    background: #4a4d58;
    background: linear-gradient(110deg, #3b3e4a 8%, #4a4d58 18%, #3b3e4a 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    height: 464px;
    width: 100%;
  }
}
