@import '../../assets/scss/variables.scss';

.skeleton{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;

  &__title, &__image {
    background: #4A4D58;
    background: linear-gradient(110deg, #3B3E4A 8%, #4A4D58 18%, #3B3E4A 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    height: 464px;
    width: 100%;
  }
}
