@import '../../assets/scss/variables.scss';

.breadcrumbs {
  display: flex;
  align-items: center;

  &__icon {
    margin: 0 16px;

    &--home {
      color: white;
    }
  }

  &__title {
    @include font-small-text-desktop;
    color: $color-secondary;
    text-decoration: none;
  }

  .active-bread {
    color: #f1f2f9;
  }
}
