@import '../../assets/scss/variables.scss';

.breadcrumbs {
  &__icon {
    margin: 0 16px;
    vertical-align: middle;

    &--home {
      vertical-align: middle;
      color: white;
    }
  }

  &__title {
    @include font-small-text-desktop;
    color: $color-secondary;
    text-decoration: none;
  }
}
