@import '../../assets/scss/variables.scss';

.card {
  width: 100%;
  box-sizing: border-box;

  background-color: $color-surface-1;
  padding: 32px;

  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__img {
    width: 100%;
    object-fit: contain;
    height: 130px;
    transition: transform 0.5s ease-out;

    &:hover {
      transform: scale(1.1);

      @include on-desktop {
        transition: transform 0.5s ease-in;
      }
    }

    @include on-tablet {
      height: 196px;
    }

    @include on-desktop {
      height: 208px;
    }
  }

  &__title {
    @include font-body-text-desktop;
    margin: 0;
    margin-top: 16px;
  }

  &__price {
    @include font-h3-mobile;
    margin: 0;

    &--offer {
      text-decoration: line-through;
      color: $color-secondary;
    }
  }

  &__line {
    border: 1px solid #3b3e4a;
  }

  &__description {
    .description__text {
      display: flex;
      justify-content: space-between;

      @include font-small-text-desktop;
      color: $color-secondary;

      &--modify {
        color: white;
      }
    }
  }
}
