.h1,
.image {
  background: #4a4d58;
  background: linear-gradient(110deg, #3b3e4a 8%, #4a4d58 18%, #3b3e4a 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

.h1 {
  height: 56px;
}

.image {
  height: 426px;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
