@import '../../assets/scss/variables.scss';

.is-loading {
  .image,
  h2,
  p {
    background: var(--color-icons);
    background: linear-gradient(110deg, var(--color-elements) 8%, var(--color-icons) 18%, var(--color-elements) 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }

  .image {
    height: 200px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  h2 {
    height: 30px;
    margin-top: 15px;
  }

  p {
    height: 70px;
    margin-top: 15px;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
