@import '../../assets/scss/variables.scss';

.cart-page {
  padding: 24px 16px 56px;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background-color: $color-black;
  color: $color-white;
  overflow-x: hidden;

  @include on-tablet {
    padding: 40px 24px 64px;
  }

  @include on-desktop {
    padding: 40px 32px 80px;
  }

  @media (min-width: 1400px) {
    padding-inline: 152px;
  }

  &__content {
    margin: 0 auto;
    max-width: 1136px;
    width: 100%;
    overflow-x: hidden;
  }

  &__back-button {
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 16px;
    }
  }

  &__title {
    @include font-h1-mobile;

    margin: 0;
    margin-bottom: 32px;

    @include on-tablet {
      @include font-h1-desktop;
    }
  }

  &__wrapper-elements {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    @include on-desktop {
      flex-direction: row;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 16px;
    width: 100%;
  }

  &__list-item {
    width: 100%;
    background-color: $color-surface-1;

    @include on-tablet {
      height: 128px;
    }
  }

  &__checkout {
    width: 100%;
    height: 190px;
    border: 1px solid $color-elements;

    @include on-desktop {
      width: 33%;
      height: 206px;
    }
  }

  .alert {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 16px;
    background-color: $color-surface-1;

    @include font-h3-desktop;

    &__image {
      width: 30%;
    }
  }
}
