@import '../../assets/scss/variables.scss';

$header-height-mobile-tablet: 48px;
$header-height-desktop: 64px;

.menu {
  box-sizing: border-box;

  height: 100vh;
  width: 100%;
  padding-top: 24px;

  background-color: $color-black;
  font-weight: 700;
  text-transform: uppercase;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;

  &__content {
    box-sizing: border-box;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__nav-link {
    @include font-uppercase-desktop;
  }

  &__bottom-part {
    box-sizing: border-box;

    display: flex;
    align-items: center;
  }
}

.menu-nav {
  &__list {
    margin: 48px 0 0;
    padding: 0;

    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  &__link {
    position: relative;

    color: $color-secondary;
    text-decoration: none;

    transition: color 0.3s;
    padding-bottom: 8px;

    @include font-uppercase-desktop;
    color: $color-secondary;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 50%;

      width: 0;
      height: 4px;

      background-color: $color-white;
      margin-bottom: 1px;

      transition:
        width 0.3s ease-in-out,
        left 0.3s ease-in-out;

      transform-origin: center bottom;
    }

    &.is-active::after,
    &:hover::after {
      width: 100%;
      left: 0%;
    }

    &__link.is-active::after,
    &__link:hover::after {
      width: 100%;
      left: 0;
    }
  }
}

.is-active {
  color: $color-white;

  &::after {
    width: 100%;
    left: 0;
  }
}

.icon {
  display: block;
  width: 24px;
  height: 24px;

  background-size: cover;
  background-position: center;

  @include on-tablet {
    height: 32px;
    width: 32px;
  }
}

.icon-wrapper {
  width: 48px;
  height: $header-height-mobile-tablet;
}

.bottom-part {
  width: 100%;
  border-top: 1px solid $color-surface-2;

  &__item-box {
    width: 50%;
    // margin-bottom: 74.5px;
    margin-bottom: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: -1px 0 0 0 $color-surface-2;
  }

  &__icon {
    width: 100%;
    height: $header-height-mobile-tablet;

    display: flex;
    justify-content: center;

    @include on-desktop {
      width: 64px;
      height: $header-height-desktop;
    }

    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;

      width: 0;
      height: 4px;

      background-color: $color-white;
      margin-bottom: 1px;

      transition:
        width 0.3s ease-in-out,
        left 0.3s ease-in-out;
    }

    &.is-active::after,
    &:hover::after {
      width: 100%;
      left: 0%;
    }
  }

  &__icon--favorite {
    position: relative;

    background-image: url('/img/icons/favourites-heart-like.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

    @include on-tablet {
      display: inline-block;
    }
  }

  &__icon--cart {
    position: relative;

    background-image: url('/img/icons/shopping-bag-cart.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

    @include on-tablet {
      display: inline-block;
    }
  }

  &__icon--menu-burger {
    background-image: url('/img/icons/menu.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

    @include on-tablet {
      display: none;
    }
  }

  &__icon--close {
    background-image: url('../../../public/img//icons/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

    @include on-tablet {
      display: none;
    }
  }

  &__icon--counter {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 12px;
    height: 12px;

    border-radius: 50%;
    border: 1px solid $color-black;

    background-color: $color-red;
    color: $color-white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: $font-regular;
    font-size: 9px;
    font-weight: 300;

    @include on-desktop {
      top: 18px;
      right: 18px;
    }
  }
}

.bottom-part__icon.is-active::after {
  width: 100%;
  left: 0;
}

.bottom-part__icon--counter {
  @include on-tablet {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 12px;
    height: 12px;

    border-radius: 50%;
    border: 1px solid $color-black;

    background-color: $color-red;
    color: $color-white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: $font-regular;
    font-size: 9px;
    font-weight: 300;
  }

  @include on-desktop {
    top: 18px;
    right: 18px;
  }
}

.no-scroll {
  overflow: hidden;
}
